{% extends 'base.html' %}
	
{% block title %}Clean Up{% endblock %}
{% block content %}
	Cleaning up images for <b>{{ session_id }}</b><br><br>
	Status: {{ session_info["status_msg"] }}<br><br>
	<form action='/delete' method='POST'>
		<input type='hidden' name='session_id' value='{{ session_id }}'>
		<input type='submit' name='button' value='Delete'></input>
		<input type='submit' name='button' value='Return'></input>
		<input type='submit' name='button' value='Nuke It All!'></input>
		Confirm Nuke <input type='checkbox' name='confirm'></input>
	
	<br><br><h5>Generated Images</h5>
	<div class="table-responsive-xxl">
		<table>
		{% for image in output_images %}
			<td align="center">
				<img class='img-thumbnail' onclick='setCheckboxValue("g_{{ loop.index }}", true)' src='/{{ image }}' width='128' height='128'></img><p>
				<input type='checkbox' id='g_{{ loop.index }}' name='files' value='{{ image }}'></input>
			</td>
		{% if (loop.index) % 5 == 0 %}
			<tr></tr>
		{% endif %}
	{% endfor %}
	</table>
	</div>
	
	<br><br><h5>Uploaded Images</h5>
	<div class="table-responsive-xxl">
		<table>
		{% for image in upload_images %}
			<td align="center">
				<img class='img-thumbnail' onclick='setCheckboxValue("u_{{ loop.index }}", true)' src='/{{ image }}' width='128' height='128'></img><p>
				<input type='checkbox' id='u_{{ loop.index }}' name='files' value='{{ image }}'></input>
			</td>
			{% if (loop.index) % 5 == 0 %}
				<tr></tr>
			{% endif %}
		{% endfor %}
		</table>
	</div>

		<input type='submit' name='button' value='Delete'></input>
		<input type='submit' name='button' value='Return'></input>
	</form>
	<br><br><br><br>

{% endblock %}
