	{% extends 'base.html' %}
	
{% block title %}Upscale Image{% endblock %}
{% block content %}
	ESRGAN Upscale image for <b>{{ session_id }}</b><br><br>
	Status: {{ session_info["status_msg"] }}<br><br>
	<h5>Upscale Images -- Download yourself</h5>

	{% for image in upscale_images %}
		<a target='_image' href='/{{ image }}'>{{ image | basename }}</a><br>
	{% endfor %}
	<br>
	<form method='POST' action='/upscale/{{ session_id }}' enctype='multipart/form-data'>
		Upscale 
		<div class="form-check form-check-inline">
			<input class="form-check-input" checked type="radio" name="scale" id="scale" value="2">
			<label class="form-check-label" for="scale">2x</label>
		</div>
		<div class="form-check form-check-inline">
			<input class="form-check-input" type="radio" name="scale" id="scale" value="4">
			<label class="form-check-label" for="inlineRadio2">4x</label>
		</div>
		<div class="input-group mb-3 col">
			<input type="file" class="form-control" name="file">
		</div>
		<div class="col-12">
			<button class="btn btn-primary" type='submit' name='button' value='Upscale'>Upscale</button>
			<button class="btn btn-primary" type='submit' name='button' value='Return'>Return</button>
			<button class="btn btn-primary" type='submit' name='button' value='Delete All'>Delete All</button>
		</div>
	</form>
{% endblock %}
