/* Root stuff for the top level */
:root {
	--title-color: #a9c2ff;
	--banner-color: #a9c2ff;
	--label-color: #a9c2ff;
	--button-color: #a9c2ff;
	--gallery-title-color: #a9c2ff;
	--chip-color: #6f98ff;
	--hover-color: #888;
}

.content_404 {
	display: flex
}

.col_404 {
	display: flex;

	flex-direction: column;
	justify-content: center;

	align-items: center;

	background-color: var(--banner-color);

	background: #ccc;
	border: 1px solid #333;
	border-radius: 4px;
	padding: 2px;
	margin: 1%;
}

.cell_404 {
	display: flex;

	width: 99%;
	height: 100%;
	max-width: fit-content;
	max-height: fit-content;
	
	background: #333;
	border: 1px solid #333;
	border-radius: 4px;
	padding: 2px;

	text-align: center;
}

.container {
	display: flex;
	flex-direction: column;
}

.diffusion {
	background-color: #ddd;
	display: flex;
	flex-direction: column;
	border-radius: 4px;
	font-family: 'Times New Roman', Times, serif;
}

/* Error Page Layouts */
.error_404 {
	display: flex;
	flex-wrap: wrap;
	margin: 1%;
	font-weight: bold;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

/* Textarea layout */

textarea {
	border-color: rgb(63, 117, 255);
	border-radius: 4px;
	width: 100%;
	padding: 4px;
	word-wrap: none;
	background: rgb(195, 213, 255);
	transition: 0.2s;
	outline: #8af;
	outline-style: double;
	margin: 0px 4px 0px 4px;
}

textarea:focus {
	background-color: #fff;
}

/* Collapsible Sections for Images */

.collapsible {
	display: flex;
	flex-grow: 0;
	cursor: pointer;
	border: none;
	text-align: left;
	font-size: 15px;
}

.active, .collapsible:hover {
	transition: 0.2s;
	background-color: var(--hover-color);
}

.content {
	padding: 0 18px;
	max-height: auto;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}

/* Themes Page layout */

.theme-label {
	display: flex;
	gap: 0px;
	padding: 0px;
}

.theme-container {
	display: flex;
	justify-content: flex-start;
	background: #a9c2ff;
	margin: 1%;
	border-radius: 4px;
	flex-wrap: wrap;
	gap: 0px;
	padding: 0px;
}

.theme-item {
	display: flex;
}

/* Some base FLEX layout */

.flex-container {
	display: flex;
	margin: 1%;
}

.flex-container label {
	display: flex;
	flex-grow: 0;
	align-items: center;
	justify-content: space-between;
	border-radius: 4px;
	background-color: var(--label-color);
	padding: 2px 2px 2px 4px;
	gap: 2px;
}

.flex-container input {
	border-color: #fff;
	border-radius: 4px;
	border-style: none;
	padding-left: 5px;
}

.flex-container select {
	padding: 3px;
	border-radius: 4px;
}

/* Title and Banner layout */

.page-title {
	text-align: center;
	border-radius: 4px;
	background-color: var(--title-color);
	padding: 2px;
	font-size: large;
	margin: 1% 1% 0% 1%;
}

.banner {
	text-align: center;
	border-radius: 4px;
	background-color: var(--banner-color);
	padding: 12px;
	margin: 1%;
}

.banner-status {
	border-radius: 4px;
	background-color: var(--banner-color);
	padding: 10px;
	margin: 1%;
}

/* Text Input Fields */

input[type=text] {
	margin: 2%;
	padding: 1%;
}

input:hover + label,
input:focus + label {
  transform: scale(1.02);
}

input:focus + label {
	outline: 1px solid #000;
	outline: -webkit-focus-ring-color auto 2px;
}

/* Chips and dip */

.chip {
	background-color: var(--chip-color);
	padding: 3px 3px 3px 3px;
	border-radius: 4px;
	transition: 0.2s;
	cursor: pointer;
}

.chip:hover {
	transition: 0.2s;
	background: var(--hover-color);
}

/* Button Gallery */

.button {
	display: flex;
	border-radius: 4px;
	background: var(--button-color);
	border: none;
	align-items: center;
	justify-content: center;
	color: rgb(0, 0, 0);
	cursor: pointer;
	padding: 1.5%;
	margin: 1px;
	transition: 0.2s;
}

.button:hover {
	background: var(--hover-color);
}

.button-container {
	display: flex;
	align-items: center;
	margin: 1%;
	flex-direction: row;
	flex-wrap: wrap;
}

/* Image Gallery */

.gallery-title {
	font-size: large;
	border-radius: 4px;
	background-color: var(--gallery-title-color);
	margin: 1%;
	padding: 4px;
}

.gallery {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	margin: 1%;
	padding: 2px;
	gap: 5px;
}

.gallery-img {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0px;
	margin: 0px;
}

.gallery-img img {
	background: #8af;
	border: 1px solid #333;
	border-radius: 4px;
	padding: 3px;
	cursor: pointer;
}

a.content:hover {
	transition: 0.2s;
	transform: scale(1.05);
}

/* File stuff */

.file {
	display: flex;
	opacity: 0;
	width: 0.1px;
	height: 0.1px;
}

.file-selection {
	display: flex;
	justify-content: space-between;
	border-radius: 4px;
	background: rgb(134, 172, 255);
	flex-direction: row;
	margin: 2px 1% 0% 1%;
}

.file-name {
	font-size: 1.0rem;
	color: #555;
	/*background: rgb(134, 172, 255);*/
	border-radius: 4px;
	margin: 1% 1% 1% 2%;
}

.file-input label {
	width: 100px;
	height: 30px;
	border-radius: 25px;
	background: rgb(134, 172, 255);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: rgb(0, 0, 0);
	cursor: pointer;
	margin: 1%;
}

.file-input::-webkit-file-upload-button {
	visibility: hidden;
}

.file-input::before {
	display: flex;
	background: linear-gradient(top, #000, #ddd);
	border: 1px solid #999;
	border-radius: 3px;
	padding: 5px 8px;
	outline: none;
	white-space: nowrap;
	-webkit-user-select: none;
	cursor: pointer;
	text-shadow: 1px 1px #fff;
	font-weight: 700;
	font-size: 10pt;
}

.file-input:hover::before {
	border-color: black;
}

.file-input:active::before {
	background: -webkit-linear-gradient(top, #000, #ddd);
}
